.app {
    width: 90%;
    max-width: 1280px;
    margin: 0px auto;
    padding: 0 16px 16px;
}

.toolbar {
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px; /* Додамо симетричні відступи */
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
    flex-wrap: wrap; /* Дозволяємо перенос елементів */
    gap: 12px; /* Додаємо відступ між елементами */
}

.userInfo {
    display: flex;
    align-items: center;
    gap: 12px;
}
.userInfo p {
    margin: 0;
    font-weight: 500;
    white-space: nowrap; /* Забороняємо перенос тексту */
}

.buttonLogout {
    padding: 6px 12px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    color: #fff;
    background-color: #0d6efd;
}
.buttonLogout:hover {
    background-color: #0b5ed7;
}

.loadMoreContainer {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.button {
    padding: 6px 12px;
    font-size: 16px;
    color: #fff;
    background-color: #0d6efd;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.button:hover {
    background-color: #0b5ed7;
}

/* Правила для екранів шириною 768px або менше */
@media (max-width: 768px) {
    .toolbar {
        flex-direction: column; /* Розташовуємо елементи в колонку */
        align-items: stretch; /* Розтягуємо їх на всю ширину */
    }

    .userInfo {
        /* Розносимо текст та кнопку "Logout" по краях */
        justify-content: space-between;
        width: 100%; /* Займаємо всю ширину */
    }
}
